<ion-searchbar animated (ionChange)="buscar($event)" placeholder="Buscar producto" [debounce]="50"></ion-searchbar>
<ion-list>
  <app-producto *ngFor="let producto of productoFiltrado" [producto]="producto" (onEdit)="onEditProducto($event)" (onDelete)="onDeleteProducto($event)"></app-producto>
</ion-list>

<!--aniadir producto-->
<div class="fixedTop">
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="add">
    <ion-fab-button (click)="onNewProducto()">
      <ion-icon name="add-outline" style="zoom: 1.5;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<!--boton ayuda-->
<div class="fixedBottom">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setOpen(true)">
      <ion-icon name="help-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Tienda</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">
              <ion-icon color="danger" name="close-outline" style="zoom: 1.5;"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          <b>{{ 'help.crudProductos' | translate }}</b><br>
          <br>{{ 'help.muestraProductos' | translate }}<br>
          <br>&nbsp; {{ 'help.aniadir' | translate }} <ion-button style="margin:10px;width:50px;height:50px;--border-radius:50%"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-button> 
          <br>&nbsp; {{ 'help.modificar' | translate }} <ion-button icon-only fill="clear"><ion-icon style="zoom:1.5" name="pencil-outline" ></ion-icon></ion-button>
          <br>&nbsp; {{ 'help.eliminar' | translate }} <ion-button icon-only fill="clear" color="danger"><ion-icon style="zoom:1.5" name="close-circle-outline" ></ion-icon></ion-button>
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
