ion-list {
    background-color: var(--ion-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

app-producto {
    max-width: 350px;
}

.fixedBottom {
    position: fixed;
    bottom: 0px;
    right: 0;
}

.fixedTop {
    position: fixed;
    top: 0px;
    right: 0;
}

ion-searchbar {
    background-color: var(--ion-item-background);
    padding-left: 5%;
    padding-right: 5%;
}

.add {
    margin-top: 50px;
}

@media (width < 532px) {
    .add {
        margin-top: 95px;
    }
}