<ion-content style="text-align: center;">
    <ion-title style="margin-top: 2%; margin-bottom: 2%;">{{ 'home.bienvenido' | translate | uppercase}}</ion-title>
    <ion-label>Estás registrado como administrador, puedes acceder a las siguientes páginas:<br></ion-label>
    <ion-button href="/folder/comprar"><ion-icon name="pricetag"></ion-icon> CRUD tienda</ion-button>
    <ion-button href="/folder/clientela"><ion-icon name="people"></ion-icon> CRUD clientes</ion-button>
    <ion-button href="/folder/carrito"><ion-icon name="cart"></ion-icon>Carrito</ion-button><br>
    
</ion-content>
