<!--PC/android-->
<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        
    </ion-buttons>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-title *ngIf="folder=='home'">{{ 'folder.home' | translate }}</ion-title>
        <ion-title *ngIf="folder=='comprar'">{{ 'folder.comprar' | translate }}</ion-title>
        <ion-title *ngIf="folder=='clientela'">{{ 'app.cliente' | translate }}</ion-title>
        <ion-title *ngIf="folder=='carrito'">{{ 'folder.carrito' | translate }}</ion-title>
        <ion-title *ngIf="folder=='listaCompras'">{{ 'app.listaCompras' | translate }}</ion-title>
        <ion-title *ngIf="folder=='about'">{{ 'app.info' | translate }}</ion-title>
      </ion-col>
      <ion-col>
        <ion-item style="height: 40px;" button id="popover-button">
          <div class="mitad">
            <ion-avatar style="width: 25px; height: 25px;"><img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-avatar>
          </div>
          <div class="mitad">
            <b>{{ getUser().email }}</b>
          </div>
        </ion-item>

        <ion-popover trigger="popover-button" [dismissOnSelect]="true" side="bottom">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Option 1</ion-item>
                <ion-item [button]="true" [detail]="false">Option 2</ion-item>
                <ion-item [button]="true" id="nested-trigger">More options...</ion-item>
        
                <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="start">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

      </ion-col>
    </ion-row>
  </ion-grid>  
    
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <!--ios-->
  <!--<ion-header collapse="collapse">
    <ion-toolbar>
      <ion-title *ngIf="folder=='home'">{{ 'folder.home' | translate }}</ion-title>
      <ion-title *ngIf="folder=='comprar'">{{ 'folder.comprar' | translate }}</ion-title>
      <ion-title *ngIf="folder=='clientela'">{{ 'app.cliente' | translate }}</ion-title>
      <ion-title *ngIf="folder=='carrito'">{{ 'folder.carrito' | translate }}</ion-title>
      <ion-title *ngIf="folder=='listaCompras'">{{ 'app.listaCompras' | translate }}</ion-title>
      <ion-title *ngIf="folder=='about'">{{ 'app.info' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <!--components-->
  <app-home *ngIf="folder=='home'"></app-home>
  <app-comprar *ngIf="folder=='comprar'"></app-comprar>
  <app-clientela *ngIf="folder=='clientela'"></app-clientela>
  <app-carrito *ngIf="folder=='carrito'"></app-carrito>
  <app-lista-compras *ngIf="folder=='listaCompras'"></app-lista-compras>
  <app-about *ngIf="folder=='about'"></app-about>
</ion-content>