<body color-theme="dark">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="mode=='Edit'">{{ 'clienteDetail.editCliente' | translate }}</ion-title>
      <ion-title *ngIf="mode!='Edit'">{{ 'clienteDetail.addCliente' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onDismiss()"><ion-icon color="danger" name="close-outline" class="zoom15"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <!-- Añadir imgs -->
          <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
          <ion-img (click)="changePic(fileLoader)" *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
          <ion-img (click)="changePic(fileLoader)" *ngIf="!currentImage.value" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
        </ion-col>
        <ion-col size="8">
          <!--Formulario-->
          <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
            <ion-item>
              <ion-label position="floating">
                {{ 'prod-detail.nombre' | translate }}
              </ion-label>
              <ion-input type="text" placeholder="{{ 'prod-detail.introNom' | translate }}" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                username
              </ion-label>
              <ion-input type="text" placeholder="username" formControlName="username"></ion-input>
            </ion-item>
            <!--<ion-item>
              <ion-label position="floating">
                Imagen<p>(opcional)</p> 
              </ion-label>
              <ion-input type="text" placeholder="Enlace imagen" formControlName="picture"></ion-input>
            </ion-item>-->
            <ion-button [disabled]="!form.valid" type="submit" class="margin25" color="success">
              <p *ngIf="mode=='Edit'">{{  'prod-detail.modificar' | translate }}</p><p *ngIf="mode!='Edit'">{{  'prod-detail.add' | translate }}</p> &nbsp; <ion-icon name="send-outline"></ion-icon>
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label color="medium">{{ 'clientela.cambiarImagen' | translate }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
  </ion-content>
</body>