<ion-content>
  <form class="register" [formGroup]="form" (ngSubmit)="onRegister()">
    <h1>{{ 'register.register' | translate }}</h1>
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">
          {{ 'prod-detail.nombre' | translate }}<span class="required" *ngIf="form.controls['first_name'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input autocomplete="" placeHolder="" type="text" formControlName="first_name"></ion-input>
        <span
        class="validationError"
        *ngFor="let error of errorsToArray(form.controls['first_name'].errors)">
          {{ error }}
        </span>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          {{ 'register.apellidos' | translate }}<span class="required" *ngIf="form.controls['last_name'].errors">>&nbsp;&#42;</span>
        </ion-label>
        <ion-input autocomplete="" placeHolder="" type="text" formControlName="last_name"></ion-input>
        <span
        class="validationError"
        *ngFor="let error of errorsToArray(form.controls['last_name'].errors)">
          {{ error }}
        </span>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          Email<span class="required" *ngIf="form.controls['email'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input autocomplete="email" placeHolder="usuario@dominio.com" type="text" formControlName="email"></ion-input>
        <small
        class="validationError"
        *ngFor="let error of errorsToArray(form.controls['email'].errors)"
        style="color: rgb(255, 70, 70);">
          {{ 'register.emailIncorrecto' | translate }}
      </small>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          {{ 'login.password' | translate }}<span class="required" *ngIf="form.controls['password'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <small
          class="validationError"
          *ngIf="hasFormError('passwordProto')"
          style="color: rgb(255, 70, 70);">
          {{ 'register.passwordError' | translate }}
          </small>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          {{ 'register.repita' | translate }}<span class="required" *ngIf="form.controls['confirmPassword'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input (keyup.enter)="form.valid?onRegister():null" [enterkeyhint]="'enter'" type="password" formControlName="confirmPassword"></ion-input>
        <small
          class="validationError"
          *ngIf="hasFormError('passwordMatch') && form.get('confirmPassword').value"
          style="color: rgb(255, 70, 70);">
          {{ 'register.noCoincide' | translate }}</small>
      </ion-item>
    </ion-list> 
    <div class="form-button">
      <ion-button [disabled]="!form.valid" (click)="onRegister()">{{ 'login.register' | translate }}</ion-button>
    </div>
  </form>
  </ion-content>