<ion-content>
  <form class="register" [formGroup]="form" (ngSubmit)="onRegister()">
    <h1>Registro</h1>
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">
          Nombre<span class="required" *ngIf="form.controls['first_name'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input autocomplete="" placeHolder="ej. Juan" type="text" formControlName="first_name"></ion-input>
        <span
        class="validationError"
        *ngFor="let error of errorsToArray(form.controls['first_name'].errors)">
          <!--{{'validators.'+error | translate}}-->
          {{ error }}
        </span>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          Apellidos<span class="required" *ngIf="form.controls['last_name'].errors">>&nbsp;&#42;</span>
        </ion-label>
        <ion-input autocomplete="" placeHolder="ej. Robles García" type="text" formControlName="last_name"></ion-input>
        <span
        class="validationError"
        *ngFor="let error of errorsToArray(form.controls['last_name'].errors)">
          <!--{{'validators.'+error | translate}}-->
          {{ error }}
        </span>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          Email<span class="required" *ngIf="form.controls['email'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input autocomplete="email" placeHolder="usuario@dominio" type="text" formControlName="email"></ion-input>
        <span
        class="validationError"
        *ngFor="let error of errorsToArray(form.controls['email'].errors)">
          <!--{{'validators.'+error | translate}}-->
          {{ error }}
        </span>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          Contraseña<span class="required" *ngIf="form.controls['password'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <small
          class="validationError"
          *ngIf="hasFormError('passwordProto')"
          style="color: rgb(255, 70, 70);">
          Al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número</small>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">
          Repita contraseña<span class="required" *ngIf="form.controls['confirmPassword'].errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input (keyup.enter)="form.valid?onRegister():null" [enterkeyhint]="'enter'" type="password" formControlName="confirmPassword"></ion-input>
        <small
          class="validationError"
          *ngIf="hasFormError('passwordMatch') && form.get('confirmPassword').value"
          style="color: rgb(255, 70, 70);">
          Las contraseñas no coinciden</small>
      </ion-item>
    </ion-list> 
    <div class="form-button">
      <ion-button [disabled]="!form.valid" (click)="onRegister()">Registrarse</ion-button>
    </div>
  </form>
  </ion-content>