h1 {
    text-align: center;
    margin-bottom: 5%;
}

form {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

ion-button {
    margin-top: 5%;
}

.form-button {
    text-align: center;
}

.colorRojo {
    color: rgb(255, 70, 70);
}