<body color-theme="dark">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="mode=='Edit'">{{ 'prod-detail.modificar' | translate }} {{ 'clienteProducto.compra' | translate }}</ion-title>
      <ion-title *ngIf="mode!='Edit'">{{ 'prod-detail.add' | translate }} {{ 'clienteProducto.compra' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onDismiss()">
          <ion-icon color="danger" name="close-outline" style="zoom: 1.5;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <ion-item-divider>
        <ion-label>
         {{ 'clienteProducto.clienteCompra' | translate }}
        </ion-label>
      </ion-item-divider>
      <app-cliente-selectable formControlName="clienteId"></app-cliente-selectable>
      <ion-item-divider>
        <ion-label>
          {{ 'clienteProducto.productoComprado' | translate }}
        </ion-label>
      </ion-item-divider>
      <app-producto-selectable formControlName="productoId"></app-producto-selectable>
      <ion-item>
        <ion-label position="floating">
          {{ 'clienteProducto.kgComprados' | translate }}
        </ion-label>
        <ion-input type="number" placeholder="kgComprados" formControlName="kgComprados"></ion-input>
      </ion-item>
      <ion-button [disabled]="!form.valid" type="submit" style="margin-top: 2.5%;" color="success">
        <p *ngIf="mode=='Edit'">{{  'prod-detail.modificar' | translate }}</p>
        <p *ngIf="mode!='Edit'">{{ 'prod-detail.add' | translate }}</p> &nbsp; <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </form>
  </ion-content>
</body>
