
    <ion-list>
      <app-cliente-producto *ngFor="let clienteProducto of (getClienteProductos() | async)" [clienteProducto]="clienteProducto" (onEdit)="onEditClienteProducto($event)" (onDelete)="onDeleteClienteProducto($event)"></app-cliente-producto> 
    </ion-list>

<!--aniadir-->
<div class="fixedTop">
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="add">
    <ion-fab-button (click)="onNewClienteProducto()">
      <ion-icon name="add-outline" class="zoom15"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<!--boton ayuda-->
<div class="fixedBottom">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setOpen(true)">
      <ion-icon name="help-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Clientes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">
              <ion-icon color="danger" name="close-outline" class="zoom15"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          <br>{{ 'help.muestraCompra' | translate }}<br>
          <br>&nbsp;{{ 'help.registrarCompras' | translate }}<ion-button class="add"><ion-icon class="zoom2" name="add-outline"></ion-icon></ion-button> 
          <br>&nbsp;{{ 'help.modificarCompras' | translate }}<ion-button icon-only fill="clear"><ion-icon class="zoom15" name="create-outline" ></ion-icon></ion-button>
          <br>&nbsp;{{ 'help.eliminarCompras' | translate }}<ion-button icon-only fill="clear" color="danger"><ion-icon class="zoom15" name="trash-outline" ></ion-icon></ion-button>
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
