ion-list {
    background-color: var(--ion-background-color);   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}

app-cliente-producto {
    max-width: 500px;
}

.fixedBottom {
    position: fixed;
    bottom: 0px;
    right: 0;
}

.fixedTop {
    position: fixed;
    top: 0px;
    right: 0;
}