<ion-list *ngFor="let clienteProducto of (getClienteProductos() | async ); let i=index">
  <app-cliente-producto *ngFor="let clienteProducto of getClienteProductosByClienteId(i)" [clienteProducto]="clienteProducto" (onEdit)="onEditClienteProducto($event)" (onDelete)="onDeleteClienteProducto($event)">
  </app-cliente-producto> 
</ion-list>

<!--boton ayuda-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="setOpen(true)">
    <ion-icon name="help-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Clientes</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">
            <ion-icon color="danger" name="close-outline" style="zoom: 1.5;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>
        <br>{{ 'help.muestraCompra' | translate }}<br>
        <br>&nbsp;{{ 'help.registrarCompras' | translate }}<ion-button style="margin:10px;width:50px;height:50px;--border-radius:50%"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-button> 
        <br>&nbsp;{{ 'help.modificarCompras' | translate }}<ion-button icon-only fill="clear"><ion-icon style="zoom:1.5" name="create-outline" ></ion-icon></ion-button>
        <br>&nbsp;{{ 'help.eliminarCompras' | translate }}<ion-button icon-only fill="clear" color="danger"><ion-icon style="zoom:1.5" name="trash-outline" ></ion-icon></ion-button>
      </p>
    </ion-content>
  </ng-template>
</ion-modal>