<body color-theme="dark">
  <ion-app>
    <ion-split-pane *ngIf="(user.isLogged$ | async)" contentId="main-content">
      <ion-menu contentId="main-content" type="overlay">
        <ion-content>
          <ion-list id="inbox-list">
            <!--<ion-list-header style="margin-bottom: 7%;">{{ 'app.titulo' | translate }}</ion-list-header>-->
            <ion-img src="../assets/images/logoFrutify.png" alt="logo Frutify" style="width: 60%; margin-bottom: 5%; margin-left: 15%;"></ion-img>
            
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label *ngIf="p.title=='home'">{{ 'folder.home' | translate }}</ion-label>
                <ion-label *ngIf="p.title=='comprar'">{{ 'folder.comprar' | translate }}</ion-label>
                <ion-label *ngIf="p.title=='clientes'">{{ 'app.cliente' | translate }}</ion-label>
                <ion-label *ngIf="p.title=='listaCompras'">{{ 'app.listaCompras' | translate }}</ion-label>
                <ion-label *ngIf="p.title=='carrito'">{{ 'folder.carrito' | translate }}</ion-label>
                <ion-label *ngIf="p.title=='about'">{{ 'app.info' | translate }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
  
          <!-- AJUSTES -->
          <h3 style="color: white"><ion-icon name="cog-sharp" color="success"></ion-icon>{{ 'app.ajustes' | translate }}</h3>
          <ion-list>

            <!-- Modo claro / oscuro -->
            <ion-label style="margin-left: 5%;">- {{ 'app.modo' | translate }}</ion-label>
            <ion-item>
              <ion-button (click)="OnToggleDarkMode()" style="margin:10px;width:50px;height:50px;--border-radius:50%" color="success"><ion-icon slot="start" name="moon" color="light"></ion-icon></ion-button>
              <ion-button (click)="OnToggleLightMode()" style="margin:10px;width:50px;height:50px;--border-radius:50%" color="success"><ion-icon slot="start" name="sunny-sharp" color="light"></ion-icon></ion-button>              
            </ion-item>
            <!-- Cambiar idioma -->
            <ion-label style="margin-left: 5%;">- {{ 'app.espIng' | translate }}</ion-label>
            <ion-item lines="full">
              <ion-button (click)="onLanguage()" style="margin:10px;width:50px;height:50px;--border-radius:50%" color="success"><ion-icon name="language-outline" color="light"></ion-icon></ion-button>
            </ion-item>
            <!-- Cerrar sesión -->
            <ion-menu-toggle auto-hide="false">
              <ion-item (click)="signOut()" button>
                <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
                <ion-label>Cerrar sesión</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
    <ion-router-outlet *ngIf="!(user.isLogged$ | async)"></ion-router-outlet>
  </ion-app>
  
</body>