<body>
  <ion-grid class="login">
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onSignIn()">
          <h1>{{ 'login.login' | translate }}</h1>
          <ion-img src="../../../../assets/images/logoFrutify.png" style="width: 50%; margin-left: 25%;"></ion-img>
          
          <ion-list>
            <ion-item>
              <ion-label position="stacked">
                Email
              </ion-label>
              <ion-input [enterkeyhint]="'next'" autocomplete="email" type="text" formControlName="identifier"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">
                {{ 'login.password' | translate}}
              </ion-label>
              <ion-input (keyup.enter)="form.valid?onSignIn():null" [enterkeyhint]="'enter'" autocomplete="password" type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-list> 
          <ion-label id="incorrecta" style="color: rgb(255, 70, 70); display: none;">
            {{ 'login.incorrecta' | translate }}
          </ion-label>
          <div class="form-button right" style="margin-bottom: 5%;">
            <ion-button [disabled]="!form.valid" (click)="onSignIn()">{{ 'login.iniciarSesion' | translate }}</ion-button>
          </div>
          <ion-label style="color: grey;">
           {{ 'login.noTienes' | translate }}
          </ion-label>
          <div class="form-button right">
            <ion-button (click)="register()" color="primary" fill="clear">
              <small>{{ 'login.register' | translate }}</small>
            </ion-button>
          </div>
        </form>    
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- boton flotante traducir -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-button (click)="onLanguage()" style="margin:10px;width:60px;height:60px;--border-radius:50%;" color="danger"><ion-icon name="language-outline" color="light"></ion-icon></ion-button>
  </ion-fab>

  <!-- boton flotante ayuda -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setOpen(true)" color="dark">
      <ion-icon name="help-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'login.login' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">
              <ion-icon color="danger" name="close-outline" style="zoom: 1.5;"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        {{ 'login.ayudaLogin' | translate }}
        <br><br>{{ 'login.ayudaLogin1' | translate }}
      </ion-content>
    </ng-template>
  </ion-modal>

</body>