ion-avatar {
    width: 100px;
    height: 100px;
}

ion-item {
    width: 49%;
    display: inline-flex;
}

@media (width < 1200px) {
    ion-item {
        width: 100%;
    }
}

@media (width < 450px) {
    ion-avatar {
        width: 50px;
    }
    #haComprado {
        display: none;
    }
}