<ion-card *ngIf="cliente">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-avatar style="width: 100px; height:100px">
          <img *ngIf="!cliente.picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="No image">
          <img *ngIf="cliente.picture" [src]="cliente.picture" alt="Product picture">
        </ion-avatar>
      </ion-col>
      <ion-col style="margin-top: 10%;">
        <ion-row>
          <ion-col>
            <ion-label color="medium">{{ 'prod-detail.nombre' | translate }}: </ion-label>
            <ion-label color="medium">Username: </ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="light">{{ cliente.name }}<br></ion-label>
            <ion-label color="light">{{ cliente.username }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label style="color: var(--ion-background-color);">.</ion-label>
      <ion-fab>
        <ion-fab-button size="small">
          <ion-icon name="cog-sharp" title="Ajustes: editar y eliminar"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button (click)="onEditClick()" title="Editar">
            <ion-icon name="pencil-outline" color="success"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="onDeleteClick()" title="Eliminar">
            <ion-icon name="close-circle" color="danger"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

    </ion-row>
  </ion-grid>
</ion-card>