ion-item {
    width: 33%;
    display: inline-block;
}

ion-card {
    // width: 33%;
    width: 350px;
    height: 180px;
    display: inline-block;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media (width < 1170px) {
    ion-item {
        width: 50%;
    }
}

@media (width < 800px) {
    ion-item {
        display: inline;
    }
}

ion-icon {
    zoom: 1.5;
}

ion-avatar {
    width: 100px;
    height:100px
}