<ion-accordion-group [multiple]="true" #accordion>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ng-container *ngIf="selectedProducto!=null">
        <ion-avatar class="cliente">
          <img *ngIf="!selectedProducto?.picture" alt="Silueta de producto" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          <img *ngIf="selectedProducto?.picture" alt="Person picture" [src]="selectedProducto.picture" />
        </ion-avatar>
        <ion-label *ngIf="selectedProducto.name != null" class="contenido">{{selectedProducto.name}}, {{selectedProducto.price | currency:'EUR':true}}</ion-label>
        <ion-label *ngIf="selectedProducto.name == null" class="contenido selec">{{ 'clienteProducto.selecProducto' | translate }}:</ion-label>
      </ng-container>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item *ngFor="let producto of getProducto()" button detail  (click)="onProductoClicked(producto, accordion)">
          <ion-avatar class="cliente">
            <img *ngIf="!producto.picture" alt="Silueta de producto" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            <img *ngIf="producto.picture" alt="Person picture" [src]="producto.picture" />
          </ion-avatar>
          <ion-label class="contenido">{{producto.name}}, {{producto.price | currency:'EUR':true}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>